@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type="datetime-local"]::-webkit-inner-spin-button {
  z-index: 1;
}

input[type="datetime-local"]::-webkit-clear-button {
   z-index: 1;
}